.container-fluid
  #ribbon.row
    %h1.logo.span3 Contingen

    .step-select.span3
      %h2 1. SELECT

      %ul.category-select
        =form_tag('/search') do

          =label_tag 'VIDEOS', :class => 'checkbox' do
            =check_box_tag 'VIDEOS' 
            VIDEOS

          =label_tag 'KNOWLEDGE', :class => 'checkbox' do
            =check_box_tag 'KNOWLEDGE' 
            KNOWLEDGE

          =label_tag 'MUSIC', :class => 'checkbox' do
            =check_box_tag 'MUSIC' 
            MUSIC

          =label_tag 'PHOTOS', :class => 'checkbox' do
            =check_box_tag 'PHOTOS' 
            PHOTOS

          =label_tag 'DESIGN', :class => 'checkbox' do
            =check_box_tag 'DESIGN' 
            DESIGN

          =label_tag 'FOOD', :class => 'checkbox' do
            =check_box_tag 'FOOD' 
            FOOD

          =label_tag 'REVIEWS', :class => 'checkbox' do
            =check_box_tag 'REVIEWS' 
            REVIEWS

          =submit_tag('asdf')


    .step-generate.span3
      %h2 2. GENERATE
      %p To deliver quality content to users across several categories bla bla bla boring.


    .step-more.span3
      %h3 3. MORE
      =form_tag('/search') do
        .input-append
          =text_field_tag 'search', nil, :placeholder => 'Search'
          =submit_tag('asdf')
      

      %a(href="#")
        =image_tag "infomark.png"
        Contact
      %a(href="#")
        =image_tag "questionmark.png"
        About


  #feed.row-fluid
    %section.span3.feed-col.videos
      %h2 VIDEOS

      %article
        %h3 SUPER RADICAL VIDEO
        =image_tag "http://placehold.it/400x300"
        %p 
          Post description. This can be your own words or it can be recycled from somewhere. You should think about how many lines of text are visible before the user has to click the jump to be able to see more. I changed the typeface to something that's more readable
          %a more...

      %footer
        %p.post-details
          Posted by 
          %a Author
          | 27.07.12

        %p.tags
          %a Tag
          %a Tag
          %a Tag

      %article
        %h3 SUPER RADICAL VIDEO
        =image_tag "http://placehold.it/400x300"
        %p 
          Post description. This can be your own words or it can be recycled from somewhere. You should think about how many lines of text are visible before the user has to click the jump to be able to see more. I changed the typeface to something that's more readable
          %a more...

      %footer
        %p.post-details
          Posted by 
          %a Author
          | 27.07.12

        %p.tags
          %a Tag
          %a Tag
          %a Tag

    %section.span3.feed-col.knowledge
      %h2 KNOWLEDGE

      %article
        %h3 SUPER RADICAL VIDEO
        =image_tag "http://placehold.it/400x300"
        %p 
          Post description. This can be your own words or it can be recycled from somewhere. You should think about how many lines of text are visible before the user has to click the jump to be able to see more. I changed the typeface to something that's more readable
          %a more...

      %footer
        %p.post-details
          Posted by 
          %a Author
          | 27.07.12

        %p.tags
          %a Tag
          %a Tag
          %a Tag

      %article
        %h3 SUPER RADICAL VIDEO
        =image_tag "http://placehold.it/400x300"
        %p 
          Post description. This can be your own words or it can be recycled from somewhere. You should think about how many lines of text are visible before the user has to click the jump to be able to see more. I changed the typeface to something that's more readable
          %a more...

      %footer
        %p.post-details
          Posted by 
          %a Author
          | 27.07.12

        %p.tags
          %a Tag
          %a Tag
          %a Tag

    %section.span3.feed-col.music
      %h2 MUSIC

      %article
        %h3 SUPER RADICAL VIDEO
        =image_tag "http://placehold.it/400x300"
        %p 
          Post description. This can be your own words or it can be recycled from somewhere. You should think about how many lines of text are visible before the user has to click the jump to be able to see more. I changed the typeface to something that's more readable
          %a more...

      %footer
        %p.post-details
          Posted by 
          %a Author
          | 27.07.12

        %p.tags
          %a Tag
          %a Tag
          %a Tag

      %article
        %h3 SUPER RADICAL VIDEO
        =image_tag "http://placehold.it/400x300"
        %p 
          Post description. This can be your own words or it can be recycled from somewhere. You should think about how many lines of text are visible before the user has to click the jump to be able to see more. I changed the typeface to something that's more readable
          %a more...

      %footer
        %p.post-details
          Posted by 
          %a Author
          | 27.07.12

        %p.tags
          %a Tag
          %a Tag
          %a Tag

    %section.span3.feed-col.photos
      %h2 PHOTOS

      %article
        %h3 SUPER RADICAL VIDEO
        =image_tag "http://placehold.it/400x300"
        %p 
          Post description. This can be your own words or it can be recycled from somewhere. You should think about how many lines of text are visible before the user has to click the jump to be able to see more. I changed the typeface to something that's more readable
          %a more...

      %footer
        %p.post-details
          Posted by 
          %a Author
          | 27.07.12

        %p.tags
          %a Tag
          %a Tag
          %a Tag

      %article
        %h3 SUPER RADICAL VIDEO
        =image_tag "http://placehold.it/400x300"
        %p 
          Post description. This can be your own words or it can be recycled from somewhere. You should think about how many lines of text are visible before the user has to click the jump to be able to see more. I changed the typeface to something that's more readable
          %a more...

      %footer
        %p.post-details
          Posted by 
          %a Author
          | 27.07.12

        %p.tags
          %a Tag
          %a Tag
          %a Tag

