#main.container-fluid
  #ribbon.row
    %h1.logo.span3 Contingen

    .step.gen.span6
      %h2 1. GENERATE
      %p
        %button#generate.btn.bigfknbutton GENERATE
    .step.more.span3
      %h2 2. ABOUT
      %p Click on generate, swag.
      %p Click on generate again, swag.
      %p Swag.
      %br

      %a(href="")
        =image_tag "infomark.png"
        CONTACT
      %a(href="#")
        =image_tag "questionmark.png"
        ABOUT


  #feed.row-fluid
    -@categories.each do |category|
      %section.span3.feed-col{:class => category.name.downcase}
        %h2=category.name.upcase

        -category.posts.where(status: 'Active').limit(15).order("RANDOM()").each do |post|
          %article.feed-post
            %a{:href => post.link_url}
              %h3=post.title.to_s.upcase
            %p=post.link_url.split('/')[2].sub('www.','')
            
            -if post.link_url.include? "youtube.com"
              %iframe{:width => "260", :height => "225", :src => "http://www.youtube.com/embed/#{post.link_url[/(?<=[?&]v=)[^&$]+/]}", :frameborder => "0", :allowFullScreen => "true"}
            -elsif post.link_url.include? "ted.com"
              %iframe{ :src => post.link_url.sub("//www", "//embed"), :width => "260", :height => "225", :frameborder => "0", :allowFullScreen => "true"}
            -elsif post.link_url.include? "vimeo.com"
              %iframe{ :src => "http://player.vimeo.com/video/#{post.link_url[/\d+/]}", :width => "260", :height => "225", :frameborder => "0", :allowFullScreen => "true"}
            -else
              %a{:href => post.link_url}
                =image_tag post.thumb_url
              %p
                =post.about_text
                %a{:href => post.link_url}
                  more...
                
          %footer
            %p.post-details
              Posted by 
              %a Author
              | 27.07.12
